<div id="<%= dom_id user %>">
  
    <img class="black-border" src=<%= user.photo %> alt="user_image">

    <div class='black-border name-and-posts'>
    <p>
      <strong>Name: </strong>
      <%= user.name %>
    </p>
    <p>
      <strong>Posts: </strong>
      <%= user.posts_count %>
    </p>
  </div>
</div>
