<div id="<%= dom_id user %>">

  <%= image_tag(user.photo) %>

  <p>
    <strong>Name: </strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Posts: </strong>
    <%= user.posts_count %>
  </p>

</div>
