body * {
    padding: 4px;
}

.self-center {
    margin: 0 20vw;
    text-align: center;
}

input {
    border: #000000 solid 2px;
    min-width: 10rem;
}

.right-align {
    text-align: right;
}

.bottom-margin {
    margin-bottom: 1rem;
}

.black-border {
    border: #000000 solid 2px;
}

.author-info {
    display: flex;
    margin: 1rem;
}

.name-and-posts {
    display: flex;
    justify-content: space-between;
    width: 95vw;
}
