body * {
    padding: 4px;
}


.right-align {
    text-align: right;
}

.bottom-margin {
    margin-bottom: 1rem;
}

.black-border {
    border: #000000 solid 2px;
}

.author-info {
    display: flex;
    margin: 1rem;
}

.name-and-posts {
    display: flex;
    justify-content: space-between;
    width: 95vw;
}
